{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pIcTuRe PeRfEcT</title>

    <link rel="icon" type="png" href="{% static 'img/pp.png' %}">


    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">

    
    <!-- style css -->

    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">

    <!-- font stylesheet -->
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">

    <!-- Bootstrap JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

    <!-- Customized Bootstrap Stylesheet -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">

    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->

    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&family=Rubik&display=swap" rel="stylesheet"> 

    <!-- Icon Font Stylesheet -->
    <!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css" rel="stylesheet"> -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">
    <link href="lib/flaticon/font/flaticon.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link rel="stylesheet"  type="text/css" href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="{% static 'css/l.css' %}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">


    <script src="https://kit.fontawesome.com/959f3a58a4.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="main">
        <nav>
            <h1>pIcTuRe 🎥 PeRfEcT</h1>
        </nav>
    </div>


    <div class="container">
        {% block form %}
        <form action="" method="post">   
        {% csrf_token %} 
        {% for message in messages %}
        <div class="mess">{{ message }}</div>
        {% endfor %}   
            <h2>LOGIN</h2>
            {% if form.errors %}
            <div class="errors">{{ form.errors }} </div>
            {% endif %}
            <span>Don't have an account?<a href="{% url 'sign' %}"> CREATE ACCOUNT</a></span>
            <div>
                <label for="username">Username</label><br>
                <input type="text" name="username" id="username" placeholder="Enter Username"> <br>
                <label for="password">Password</label> <br>
                <input type="password" id="password" name="password" placeholder=" Enter Your Password">
                <i class="fa fa-eye" id="toggle" onclick="show()"></i>
                <br>
                <br>
                <button value="Login">Login</button>
                <br>
                <div class="fp">
                    <a href="">Forgotten Password</a>
                </div>
            </div>           
        </form>
        {% endblock %}
    </div>        

    <script src="{% static 'js/pass.js' %}"></script>
</body>
</html>